<div class = "container-matrix">
  <h2 style="color:green;">Contact Our</h2> 
  
  
  <html>
    
    
    
    

  
  <h2><i>Constomer Support Center</i><img src="https://www.bhphotovideo.com/images/images2500x2500/lenovo_81vs000dus_14_fhd_a9_9420e_4gb_1554112.jpg" sizes="200" height="200" > </h2>
  <p>contact information</p>


  
  
  
  
<!--Add FormGroup woth our model-->
  <form [formGroup] = "MarvellousForm">
  <div class="form-group">
    <label border-style="color:blue"> Name* </label>
    <input type="text"  class="form-control"  formControlName="username">
  </div>
  
  <div class="form-group">
    <label style="color:blue" aria-required="true">Email* </label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  
  <div class="form-group">
    <label style="color:blue">phone* </label>
    <input type="phone" class="form-control" formControlName="phone">
  </div>

  <div class="form-group">
    <label style="color:blue">Address* </label>
    <input type="address" class="form-control" formControlName="address">
  </div>

  <button type="submit" class="btn btn-danger">submitform</button>
</form>





